[req]
default_bits = 2048
default_md = sha256
prompt = no
distinguished_name = dn
req_extensions = req_ext

[dn]
C = HU
ST = Budapest
L = Budapest
O = Developer
OU = Developer
CN = localhost

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = api.localhost.local
IP.1 = 127.0.0.1
